@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@viewport {
  width: device-width;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 5px;
}
